body {
    font-size: large;
}

.row {
    margin-top: 50px;
}

.card {
    margin: 70px;
    background-image: url(https://openweathermap.org/themes/openweathermap/assets/img/Open-weather-main-page.png);
}